.grid1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 28px !important;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.gridArea{
    width: Fill (432px)px;
    height: Fixed (400px)px;
    min-width: 400px;
    padding-right: 28px;
    gap: var(--16);
    border-radius: var(--16);
    opacity: 0px;
}

.gridTest {
    display: grid;
    grid-template-columns: 50% 50%;
    box-sizing: border-box;
    padding-right: 28px;
    column-gap: 28px;
    row-gap: 28px;

}
.grid2{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 28px !important;
    padding-top: 18px;
    padding-right: 28px;
}

.cardContent {
    min-width: 200px;
    padding: var(--24);
    gap: var(--8);
    border-radius: var(--16);
    opacity: 0px;
}
