.main {
    border-radius: 16px !important;
    padding: 35px !important;
}

.title {
    margin-bottom: 12px !important;
    font-size: large;
    font-weight: 600;
}

.content {
    min-width: 20px !important;
}