
body.light {
  --background-color: #ffffff;
  --text-color: #000000;
  --link-point-color: rgba(28, 28, 28, 0.2);
  --theme: light;
}

body.dark {
  --background-color: #000000;
  --text-color: #ffffff;
  --link-point-color: #ffffff;
  --theme: dark;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
